.swiper-1 {
    width: 100%;
    height: 100vh;
}
.swiper-1 .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.caption {
    position: absolute;
    bottom: 100px;
    left: 150px;
    font-size: 20px;
    color: #fff;
    text-shadow:2px 2px 6px #444;
}

.about {
    padding: 140px 0;
}

.about-img {
    background-image: url(../img/index/about.jpg);
    background-position: 0%;
    background-size: cover;
    display: block;
    width: 80%;
    height: 80vh;
    margin: auto;
}
.about-title {
    margin-top: 100px;
}
.about-caption {
    margin-top: 20px;
}
.about-btn {
    max-width: 160px;
    margin-top: 50px;
}

.projects {
    background: #ededed;
    padding: 140px 0;
}
.projects-heading {
    padding-top: 28px;
    border-top: 1px solid #666;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects-heading .title{
    font-size: 32px;
}
.projects-view{
    width: 100px;
}
.projects-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.swiper-2 {
    width: 100%;

}
.projects-container {
    width: 87%;
}

.swiper-2 .swiper-slide img{
    width: 100%;
}
.swiper-button-prev::after{
    color: #666;
}
.swiper-button-next::after{
    color: #666;
}

.images-inner {
    height: 80vh;
    background-size: cover;
    background-position: center 60%;
}

@media screen and (max-width:640px){
    .caption {
        bottom: 50px;
        left: 50px;
        font-size: 16px;
    }

    .projects-heading .title {
        font-size: 24px;
    }

    .images-inner {
        height: 40vh;
    }

}