.project{
    margin-top: 50px;
    margin-bottom: 50px;
}
.project-menu {
    display: flex;
}
.project-menu-item.active {
    border-bottom:1px solid #444;
    
}
.project-menu-item{
    margin-right: 50px;
    position: relative;
    width: 100px;
}
.project-menu-item:hover{
    color: #b3b3b3;
}

.project-menu-item a::after{
    content:"";
    display:block;
    width: 0;
    left: 0;
    height: 1px;
    background-color: #444;
    position:absolute;
    right: 0;
    transition:.4s;
}
.project-menu-item a:hover::after{
    width: 100%;
    left: 0;
}

.project-menu-item span{
    display: block;
}

.project-list{
    margin-top: 50px;
}
.product-img {
    overflow: hidden;
    background-color: black;
}
.product-img img{
    width: 100%;
    opacity: 0.7;
    transform: scale(1);
    transition: 0.5s ease-out;
}
.product-item:hover .product-img img{
    width: 100%;
    opacity: 1;
    transform: scale(1.1);
}
.projects-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


