body{
    font-size: 14px;
    font-family:"Ubuntu", sans-serif, "Noto Sans TC", "Microsoft JhengHei";
    line-height: 1.5;
    letter-spacing: 1px;
    color: #444;
    background-color: #fff;
    margin: 0;
}
div {
    display: block;
}

.header{
    background: white;
    top: 0;
    left: 0;
    padding: 10px 80px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

}
.nav nav a {
    position: relative;
    margin: 15px 0 15px 40px;
    display: inline-block;

}
.nav nav a::after {
    content:" ";
    position: absolute;
    right:50%;
    left:50%;
    bottom:-5px;
    border-bottom:1px solid #444;
    transition: .3s;
}
.nav nav a:hover::after {
    right:0%;
    left:0%;
}
a {
    text-decoration: none;
    display: block;
    color: #444;
}

.hamburger {
    display: flex;

}
.show-nav {
    color: #fff;
}

.show-nav a {
    color: #fff;
}

.show-nav .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #444;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: -1;
    flex-direction: column;

}
.show-nav .nav nav {
    text-align: center;
    display: flex;
    flex-flow: column;
}
.show-nav .nav nav a {
    margin: 15px 0;
    color: #fff; 
}

.show-nav .hamburger {
    display: flex;
}

.crop-text {
    display: flex;
    justify-content: space-between;
    color: #666;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.crop-text:hover{
    color: #000;
}

.footer {
    font-size: 12px;
    padding: 30px 80px;
}
.footer-right{
    display: flex;
    justify-content: flex-end;
}
.icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.icon-text {
    position: relative;
    margin: 0 8px;
}

@media screen and (min-width:981px){
    .hamburger {
        display: none;
    }

}

@media screen and (max-width:980px){
    .nav {
        display: none;
    }

} 
@media screen and (max-width:640px){
    .header{
        padding: 10px 20px;
    }
    .footer {
        padding: 30px 20px;   
    }
    .footer-right{
        margin-top: 10px;
        justify-content: flex-start;
    }
}
